
<div class="nested-fields">


  <div class="field">

    <%= f.hidden_field :user_id, class: 'form-control', value: current_user.id %>
  </div>

  <div class="field">
    <%= f.label  "Commentary:"  %>
    <%= f.text_area :commentary , class: 'form-control',placeholder:'Add a comment...'%>
  </div>
  <%= link_to_remove_association 'Remove', f ,class: 'fa fa-close', style:"font-size:15px;color:red"%>
</div>

