<% provide(:title, "New Inventory") %>
<h1 style="font-size: 30px;color: goldenrod ">New Inventory</h1>

<%= render 'form', inventory: @inventory %>
<div class="breadcrumb">
<%= link_to 'Back', inventories_path , class: 'fa fa-arrow-left'%>
</div>