<% provide(:title, "New Cash Recons") %>
<h1>New Cashflow Recon</h1>

<%= render 'form', cashflow_recon: @cashflow_recon %>

<br>
<div class="breadcrumb">
  <%= link_to 'Back', cashflow_recons_path, class:'fa fa-arrow-left' %>
</div>

