

<div class="nested-fields">

  <div class="form-inputs">
    <%= f.input :phone %>
    <%= f.input :user_id ,:as => :hidden, :input_html => { :value => current_user.id}%>
    <%= f.input :active %>
  </div>

  <%= link_to_remove_association 'Remove', f ,class: 'fa fa-close', style:"font-size:15px;color:red"%>

</div>
