<% provide(:title, "New Person") %>

<div class="breadcrumb">
  <h3>New Person</h3>
</div>


<%= render 'form', person: @person %>

<br>
<div class="breadcrumb">
  <%= link_to 'Back', people_path, class:' 	fa fa-arrow-left' %>
</div>

