<% provide(:title, "New Budget") %>



<div class="breadcrumb">
  <h3>New Budget</h3>
</div>

<hr>
<%= render 'form', budget: @budget %>


<div class="breadcrumb">
  <%= link_to 'Back', budgets_path, class:'fa fa-arrow-left' %>
</div>

