<% provide(:title, "Edit Bank Account") %>
<h1>Editing Bank Account</h1>

<%= render 'form', bankaccount: @bankaccount %>

<%= link_to 'Show', @bankaccount %> |
<%= link_to 'Back', bankaccounts_path %>
