<h1>Editing Department</h1>

<%= render 'form', department: @department %>


<div class="links">
  <%= link_to 'View', @department, class:'fa fa-eye' %> |
  <%= link_to 'Back', departments_path, class:'fa fa-arrow-left' %>
</div>

