

<div class="nested-fields">


  <div class="form-inputs">
    <%= f.input :commentary ,placeholder:'Add a comment...'%>
    <%= f.input :user_id,:as => :hidden, :input_html => { :value => current_user.id}%>
  </div>


  <%= link_to_remove_association 'Remove', f ,class: 'fa fa-close', style:"font-size:15px;color:red"%>

</div>
