<% provide(:title, "Edit Delivery") %>
<h1>Editing Delivery</h1>

<%= render 'form', delivery: @delivery %>

<div class="links">
<%= link_to 'View', @delivery, class:'fa fa-eye' %> |
<%= link_to 'Back', deliveries_path , class:'fa fa-arrow-left'%>
</div>