<% provide(:title, "New Saving") %>
<div class="breadcrumb">
  <h3>New Saving</h3>
</div>
<hr>

<%= render 'form', saving: @saving %>
<div class="breadcrumb">
<%= link_to 'Back', savings_path,class:'fa fa-arrow-left' %>
</div>