<% provide(:title, "New Cashflow") %>

<div class="breadcrumb">
  <h3>New Cashflow</h3>
</div>
<hr>

<%= render 'form', cashflow: @cashflow %>

<div class="breadcrumb">
<%= link_to 'Back', cashflows_path, class:'fa fa-arrow-left' %>
</div>