<% provide(:title, "New resource") %>
<h1>New Resource</h1>

<%= render 'form', resource: @resource %>
<br>
<div class="breadcrumb">
  <%= link_to 'Back', resources_path , class:'fa fa-arrow-left' %>
</div>




