<% provide(:title, "Edit") %>
<div class="breadcrumb">
  <h3>Editing Rent Payment</h3>
</div>





<%= render 'form', rent_management: @rent_management %>
<br>

<div class="breadcrumb">
  <%= link_to 'View', @rent_management, class:'fa fa-eye' %> |
  <%= link_to 'Back', rent_managements_path, class:'fa fa-arrow-left' %>
</div>
